<p><%= @list.owner %></p>

<ul>
  <% @list.items.each do |item| %>
    <li><%= item.name %></li>
  <% end %>	
</ul>

<h2>Suggestions for <%= @trip.trip_type %></h2>
<% if @suggestion %>
  <% if @suggestion.items %>
    <% @suggestion.items.each do |item| %>
     <p> <%= item.name %></p>
      <% end %>
  <% end %>
<% end %>

<h2>Prepared list for <%= @trip.trip_type %></h2>
<% if @prepared %>
<% if @prepared.items %>
  <% @prepared.items.each do |item| %>
    <span><%= item.name %></span>
  <% end %>
<% end %>
<% end %>



<%= form_for  ([@user, @trip, @list, @item]) do |f| %>
  
  <div class="field">
  	<%= f.label :name %>
  	<%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :item_type %>
    <%= f.select :item_type, Item.item_types.keys.to_a, include_blank: true %>
  </div>

  <div class="actions">
  	<%= f.submit %>
  </div>

<% end %>

