<p><%= @trip.location %></p>
<ul>
  <% @trip.items.each do |item| %>
    <li><%= item.name %></li>
  <% end %>
</ul>

<ul>
  <% @trip.lists.each do |list| %>
    <li><%= list.owner %></li>
  <% end %>
</ul>
  
<%= form_for ([@trip, @list]) do |f| %>
  <div class="field">
  	<%= f.label :owner %>
  	<%= f.text_field :owner %>
  </div>

  <div class="actions">
  	<%= f.submit %>
  </div>
<% end %>


