<p><%= @suggestion.name %></p>

  
<%= form_for ([@trip, @list]) do |f| %>
  <div class="field">
  	<%= f.label :owner %>
  	<%= f.text_field :owner %>
  </div>

  <div class="actions">
  	<%= f.submit %>
  </div>
<% end %>
